<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="" />
    <th:block layout:fragment="css">
      <!-- 페이지별 개별 css 작성-->
    </th:block>
  </head>
  <body>
    <div th:replace="~{/fragments/header::header}"></div>
    <div layout:fragment="content">
      <!-- 페이지별 content 가 보여질 영역-->
    </div>
    <div th:replace="~{/fragments/footer::footer}"></div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstarp@5.3.3/dist/js/bootstarp.bundle.min.js"
      integrity="sha384-YypcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDz0xhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <th:block layout:fragment="script">
      <!-- 페이지별 개별 스크립트 작성-->
    </th:block>
  </body>
</html>
